__pycache__
not_main_project/*
transfer_from_old/*
trace_results/*
*.txt
trace_*
invoices/*
fonts/*
unused/*
auto-suggest/*
htmlcov/*
__init__.py
sql/*
backup/*
tags
*.log
*.pgsql
*.pyc
custom_data.py
gst_invoices/*
fonts/some_pic.png
*.csv
*.sql
